<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/2js/assets/css/style.css" />
  <title>2js</title>
  <script>
/*
    async function getBook(name) {
      const bookCon = await fetch(name);
      const book1 = await bookCon.json();
      const chaptersOnly = book1.filter(chp => chp.name.startsWith("book/chapter"));
      return book1;
    }

    async function go() {
      debugger;
      //todo this here I need to generate in
      return await getBook('https://api.github.com/repos/orstavik/JoiComponents/git/trees/{% site.github.latest_release %}?recursive=2');
    }

    console.log(go());
*/
    console.log("{% 'blurb' %}");
  </script>
</head>
<body>
{{ content }}
<hr>
<h6>2js</h6>
<script src="/2js/assets/wc/PrettyPrinter.js"></script>
</body>
</html>